<div class="col-sm-12 col-lg-4 mb-3">
  <div id="web_app-id-<%= web_app.id %>">
    <div class="card">
      <% if web_app.image? %>
        <%= image_tag web_app.image.url, class: 'card-img-top' %>
      <% else %>
        <%= image_tag '320x240.png', class: 'card-img-top' %>
      <% end %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to web_app.title, web_app_path(web_app) %>
          </h4>
        </div>
        <p class="card-text"><%= web_app.description %></p>
      </div>
    </div>
  </div>
</div>