<% if @web_app.errors.any? %>
	<div class="alert alert-danger">
    <ul>
      <% @web_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>アプリ編集画面</h1>
<div class="container py-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= form_with model: @web_app do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="mb-3">
          <%= f.label "タイトル" %>
          <%= f.text_field :title, class: 'form-control', id: 'web_app_title' %>
        </div>
        <div class="mb-3">
          <%= f.label "概要" %>
          <%= f.text_area :description, class: 'form-control', id: 'web_app_description' %>
        </div>
        <div class="mb-3">
          <%= f.label "サムネイル" %>
          <%= f.file_field :image, class: 'form-control', id: 'web_app_image' %>
          <div class="text-center py-2"> 
            <%= image_tag @web_app.image_url, class: 'w-75', style: "width: 640px; height: 320px;" if @web_app.image? %>
          </div>
          <%= f.hidden_field :web_app_image_cache %>
        </div>
        <div class="mb-3">
          <%= f.label "URL" %>
          <%= f.text_field :url, class: 'form-control', id: 'web_app_url' %>
        </div>
        <div class="mb-3">
          <%= f.label "GitHub URL" %>
          <%= f.text_field :github_url, class: 'form-control', id: 'web_app_github_url' %>
        </div>
        <%= f.submit "更新", class: 'btn btn-primary', data: { disable_with: "更新" } %>
        <%= link_to "削除", web_app_path(@web_app), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>